*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    width: 100%;
}
.common-btn{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #ffffff;
    border: none;
    font-size: 1rem;
    margin-bottom: 20px;
}


img{
    max-width: 100%;
}

/*----------------------------------
Navbar Section-------------------*/

#navbar{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 1% 10%;
    
}

.navbar-brand{
    font-weight: 700;
    
}

#navbar .active{
    color: #AF90EA;
}

.contact-info{
    
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.btn-nav{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}



#navbar li a{
    font-weight: 600;
}

/*-------------------------------------
Hero Section----------------------*/

#hero-section{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 7% 10%;
    background: rgb(254,243,249);
    background: linear-gradient(90deg, rgba(254,243,249,1) 0%, rgba(254,244,249,1) 0%, rgba(249,242,248,1) 100%);
}

.hero-1{
    padding-top: 50px;
}

.hero-1 h1{
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.3;
}

.hero-button-1{
    border: 1px rgb(142, 117, 117) solid;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #FAF3F8;
}

.hero-1 p{
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 40px 0;
}

.btn-hero{
    background-color: #AF90EA; 
    color: #ffffff;
    border-radius: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 20px;
}

.btn-hero-2{
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 1.3rem;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
}

.btn-hero-2:hover{
    color: #AF90EA;
}
/*-------------------------
Service Section---------*/

#service-section{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 7% 10%;
    
}

.sevice-title{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 700;
}

.service-desc{
    margin-top: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.sevices-section-one{
    text-align: center;
    background: url("images/service-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.service-icon-section .row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.service-icon{
    padding-top: 20px;
    border-radius: 20px;
    text-align: center;
}

.service-icon:hover{
    box-shadow: 0px 0px 20px rgb(204, 201, 201);
}

.service-img{
    width: 50%;
}

.icon-title{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.service-icon-section{
    margin-top: 50px;
}

.sevices-section-second{
    margin-top: 70px;
}

.service-section2-heading{
    font-size:2.5rem;
    font-weight: 700;
}

.service-section2-p{
    padding: 30px 0;
    font-size: 1.0rem;
    line-height: 2;
}

.btn-service-set{
    font-size: 1rem;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 5px 5px;
}

.btn-service-set:hover{
    background-color: #D7D7D7;

}

.service-section2-col{
    padding-top: 60px;
}

.service-card{
    text-align: center;
    margin-top: 50px;
}

.service-card p{
    line-height: 2;
}

.text-stroke{
    font-size: 3.5rem;
    color: #FAF3F8;
    -webkit-text-stroke: 1px #AF90EA;
}

.marketing-img{
    padding-top: 30px;
}



/*----------------------------------
Featured section------------------*/

#featured-section{
    background-color: #F7F4FA;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 7% 10%;
}



.featured-title{
    font-size: 3.0rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.featured-p{
    margin-bottom: 40px;
    line-height: 2;
}

.accordion-body{
    line-height: 2;
}

/*----------------------------------
Pricing section------------------*/

#pricing-section{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 7% 10%;
}

.top-pricing-section{
    text-align: center;
    padding-bottom: 30px;
}

.price-column{
    padding: 20px 20px;
    text-align: center;
    background-color: #F7F4FA;
    margin: 10px 10px;
    border-radius: 20px;
}

.price-img{
    width: 30%;
    margin-bottom: 30px;
}

#standard-plan{
    background-color: #232227;
    color: #ffffff;
}

.price-choose{
    font-size: 1.2rem;
    font-weight: 700;
}

.price-p{
    width: 60%;
    margin: 20px auto;
}

.price{
    font-size: 2.5rem;
    font-weight: 700;
}

.month{
    margin-left: 5px;
    font-size: 1rem;
}
.price-column ul{
    margin-top: 30px;
}

.price-column li{
    margin-top: 10px;
    list-style: none;
}

.btn-price{
    background-color: #AF90EA; 
    color: #ffffff;
    border-radius: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 20px;
    margin: 30px;
}

.check-mark{
    color: #AF90EA;
    margin-right: 5px;
}

.pricing-tile{
    font-size: 2.5rem;
    font-weight: 700;
}

.pricing-p{
    width: 40%;
    font-size: 1rem;
    line-height: 1.5;
    margin: 20px auto;
}

/*------------------------------------------
contact Us section------------------*/

#contact-us{
    background-color: #F7F4FA;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 7% 10%;
}   

.top-contact-us{
    
    text-align: center;
    margin-bottom: 40px;
}

.top-contact-us-h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.top-contact-us-p{
    font-size: 1.2rem;
    width: 40%;
    margin: 30px auto;
    line-height: 1.5;
}

.contact-form{
    padding-top: 30px;
}

/* Scroll To Top Button Style */
/* Scroll To Top Button Style */
#myBtn {
    font-family: 'Poppins', sans-serif;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #AF90EA;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 100%;
}
  
#myBtn:hover {
    background-color: #000;
}

/*---------------------------------
Footer Section------------------*/

#footer{
    padding: 7% 10%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.btn-substribe{
    background-color: #AF90EA; 
    color: #ffffff;
    border-radius: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 20px;
    
}

@media screen and (max-width:768px){
    
    .service-desc{
        text-align: left;
        margin-top: 40px;
        width: 100%;
        font-size: 1.2rem;
    }

    .pricing-p{
        text-align: left;
        width: 100%;
        font-size: 1.2rem;
        margin: 30px auto;
    }

    .top-contact-us-p{
        text-align: left;
        font-size: 1.0rem;
        width: 100%;
        margin: 40px auto;
    }

    .hero-1 h1{
        margin-top: 30px;
        font-size: 3.1rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .btn-hero-2{
        margin-top: 20px;
    }

    .hero-1 p{
        font-size: 1.2rem;
        
        
    }

    .sevice-title{
        font-size: 3.0rem;
        text-align: center;
        font-weight: 700;
    }
    
}